<footer class="footer"><div><img src="/public/assets/logo.svg"><strong>Buffet Biruta Park</strong><p><%= s.address %></p></div><div><p>WhatsApp: (16) 9 9791-3686</p><p><%= s.footer_text %></p></div></footer></body></html>
