<header class="top"><a class="brand" href="/"><img src="/public/assets/logo.svg"><span>Biruta Park</span></a><nav><a href="/#estrutura">Estrutura</a><a href="/#pacotes">Pacotes</a><a href="/promocoes">Promoções</a><a class="btn small" href="/orcamento">Fazer orçamento</a></nav></header>
