<%- include('partials/head') %><main class="login"><form method="post"><h1>Admin Biruta Park</h1><% if(error){ %><p class="error"><%= error %></p><% } %><input name="login" placeholder="Login" value="17717592000160"><input name="password" type="password" placeholder="Senha" value="Biruta@2026"><button class="btn">Entrar</button></form></main></body></html>
