<%- include('partials/head') %><%- include('partials/header') %><main class="quote-page"><div class="quote-box"><div class="progress"><i></i></div><div id="stepper"></div></div></main><%- include('partials/footer') %>
